@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Contrail+One&family=Playwrite+DE+Grund:wght@100..400&family=Ranchers&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Contrail One", sans-serif;
    font-style: normal;
}
:root{
    --blue: #01204E;
    --white: F8FAE5;
    --cyan:  #028391;
}

.navbar-container{
    background-color: #43766C;
    padding: 1rem;

    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-logo{
    color: var(--white);
    font-size: 1.5rem;
    
}
.nav-bar{
    border: 1px solid black;

    display: flex;
    gap: 1rem;
}

.nav-bar .links{
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
}

.nav-bar .links:hover{
    text-decoration: underline;
}

.hero-section{
    background-color: #F8FAE5;
    height: 100vh;

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.hero-introduction{
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-section h1{
    color: var(--white);
}

.hero-section h3{
    color: var(--white);
}

.aboutme-section{
    background-color: #F8FAE5;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-me{
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picture-container{
    
    border: 1 px solid black;
    width: 300px;
    height: 300px;
    object-fit: contain;
    flex-shrink: 0;

}
.picture-container .my-picture{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

